# ========================
# Python 缓存和编译文件
# ========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.log
*.tmp
*.swp
*.bak

# ========================
# Jupyter / Notebook 临时文件
# ========================
.ipynb_checkpoints/

# ========================
# PyCharm / IntelliJ 配置
# ========================
.idea/
*.iml

# ========================
# VSCode（如果用过）
# ========================
.vscode/
data/csv/
data/emotion-domestic/
data/fer2013plus/
data/MMAFEDB/
data/Rafdb/

# ========================
# 其他建议忽略的大文件类型
# ========================
*.zip
*.csv
*.h5
*.ckpt
*.pth
*.pt
*.onnx
*.tflite
*.pb
